/* CONCERT COLORS */
.red-rocks {
	color: orangered;
}

.bluebird {
	color: #2b529c;
}

.ogden {
	color: #ee2738;
}

.belly-up {
	color: #1174b9;
}

.vortex {
	color: rebeccapurple;
}

.fiddlers { 
	color: green;
}

.golden-tri {
	color: gold;
}