/* ==========================================================================
   MODAL STYLES
   ========================================================================== */

/* --------------------------------------------------------------------------
   MODAL ROOT PROPERTIES
   -------------------------------------------------------------------------- */
:root {
	/* Modal Size */
	--modal-max-width: 85vw;
	--modal-max-height: 90vh;

	/* Modal Blur */
	--modal-blur: blur(24px);
	--modal-caption-blur: blur(4px);
}

/* --------------------------------------------------------------------------
   LIGHT SCHEME
   -------------------------------------------------------------------------- */
@media (prefers-color-scheme: light) {

	:root {
		/* Background Color */
		--bg-color-overlay: oklch(from var(--snow) l c h / .25);
		--bg-color-caption: oklch(from var(--white-smoke) l c h / .5);

		/* Border Color */
		--border-color-caption: var(--jet-black);

		/* Shadows */
		--shadow-modal:
			oklch(from var(--jet-black) l c h / .25) 0px 0.0625em 0.0625em,
			oklch(from var(--jet-black) l c h / .25) 0px 0.125em 0.5em,
			oklch(from var(--snow) l c h / .1) 0px 0px 0px 1px inset;

		--exif-shadow: oklch(from var(--snow) l c h / .25) 0 2px 3px;
	}

}

/* --------------------------------------------------------------------------
   DARK SCHEME
   -------------------------------------------------------------------------- */
@media (prefers-color-scheme: dark) {

	:root {
		/* Background Color */
		--bg-color-overlay: oklch(from var(--jet-black) l c h / .25);
		--bg-color-caption: oklch(from var(--vampire-black) l c h / .5);

		/* Border Color */
		--border-color-caption: var(--primary-color);

		/* Shadows */
		--shadow-modal:
			oklch(from var(--jet-black) l c h / .25) 0px 0.0625em 0.0625em,
			oklch(from var(--jet-black) l c h / .25) 0px 0.125em 0.5em,
			oklch(from var(--snow) l c h / .1) 0px 0px 0px 1px inset;

		--exif-shadow:
			oklch(from var(--jet-black) l c h / .25) 0 2px 3px;
	}

}

/* --------------------------------------------------------------------------
   MODAL OVERLAY & CONTENT
   -------------------------------------------------------------------------- */
/* Open state of the dialog  */
dialog[open] {
	opacity: 1;
}

/* Before open state  */
@starting-style {
	dialog[open] {
		opacity: 0;
	}
}

/* Closed state of the dialog   */
dialog {
	background: none;
	border: none;
	margin: 0;
	opacity: 0;
	overflow: visible;
	padding: 0;
	place-self: center;
	transition: opacity 0.7s ease-out;

	&:focus {
		outline: none;
	}
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
	backdrop-filter: var(--modal-blur);
	background: var(--bg-color-overlay);
	opacity: 0;
	transition: var(--transition-medium-io);
}

dialog[open]::backdrop {
	opacity: 1;
}

@starting-style {
	dialog[open]::backdrop {
		opacity: 0;
	}
}

.modal-card {
	border-radius: var(--border-radius-sm);
	box-shadow: var(--shadow-modal);
	overflow: hidden;
	position: relative;

	& img {
		display: block;
		max-height: var(--modal-max-height);
		max-width: 100%;
	}

	&:hover .modal-caption {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0);
	}
}

/* --------------------------------------------------------------------------
   MODAL CAPTIONS & METADATA
   -------------------------------------------------------------------------- */
/* === Caption === */
.modal-caption {
	transform: translateY(var(--space-ms));

	& hr {
		background: oklch(from var(--border-color-caption) l c h / .5);
		margin: var(--space-xs) var(--space-sm) var(--space-sm) var(--space-sm);
	}
}

/* === Caption Header === */
.caption-header {
	align-items: center;
	display: grid;
	font-size: var(--font-size-xxs);
	grid-template:
		"date title elevation" 1fr 
		"coords coords coords" 1fr / 1fr auto 1fr;
	text-align: center;
	text-shadow: var(--exif-shadow);
}

/* Top Row */
.photo-date {
	grid-area: date;
	place-self: center center;
}

.title {
	color: var(--text-color-primary);
	font-family: var(--font-family-ui);
	font-size: var(--font-size-range);
	font-weight: var(--font-weight-heavy);
	grid-area: title;
	justify-self: center;
	margin: 0;
}

.altitude {
	color: var(--text-color-muted);
	grid-area: elevation;
	place-self: center center;
}

/* GPS Row */
.gps {
	grid-area: coords;
	justify-self: center;
	text-wrap: wrap;
	text-shadow: 0 0 .025em var(--vampire-black), var(--exif-shadow);
	
	& a {
		color: var(--accent-color);
		text-decoration: none;
	}

	& a:hover {
		text-decoration: underline;
	}
}

/* === EXIF DATA === */
.exif-row {
	color: var(--text-color-secondary);
	display: flex;
	flex-wrap: wrap;
	font-family: var(--font-family-ui);
	font-size: var(--font-size-xxs);
	gap: var(--space-sm);
	justify-content: center;
	margin-bottom: var(--space-xxs);
	text-shadow: var(--exif-shadow);
	white-space: nowrap;

	& data {
		font-family: var(--font-family-mono);
	}

	& .format data {
	border-radius: .025em;
	font-family: var(--font-family-ui);
	outline: 1px solid var(--text-color-secondary);
	outline-offset: .125em;
	text-shadow: none;
	}
}

@media (height <= 30rem) {

	.exif-row {
		gap: .25rem;
	}

}

/* === COPYRIGHT === */
.copyright {
	font-family: var(--font-family-ui);
	font-size: var(--font-size-xxs);
	font-style: normal;
	font-weight: var(--font-weight-normal);
	padding: var(--space-sm);
	text-align: center;
}