/* ==========================================================================
   AT-RULES
   ========================================================================== */

@counter-style star {
	suffix: " ";
	symbols: "\2726";
	system: cyclic;
}



/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */
a {
	color: var(--a-color);
	text-decoration-skip: spaces;
	text-decoration-skip: -webkit-spaces;
}

a[target="_blank"]:not(.record-link, #map a, #now-playing a, #for-sale a)::after {
  content: '\2197';
  text-decoration-color: var(--bg-color-main);
}

abbr {
	cursor: help;
	text-decoration: underline dotted;
	text-decoration-color: var(--accent-color);
}

address {
	font-style: normal;
	text-transform: uppercase;
}

caption,
label,
small {
	color: var(--text-color-muted);
	font-size: var(--font-size-xs);
	font-style: italic;
	font-weight: var(--font-weight-light);
}

dfn {
	font-style: normal;
}

h4 {
	color: var(--accent-color);
}

mark {
	background: var(--text-selection-color);
	color: var(--selected-text-color);
	padding: 2px 0 2px 0;
}

strong {
	color: var(--accent-color);
	text-shadow: var(--shadow-glow);
}

time {
	color: var(--text-color-muted);
	font-family: var(--font-family-mono);
	text-align: center;
}

/* ==========================================================================
   LAYOUT COMPONENTS
   ========================================================================== */

footer {
	font-size: var(--font-size-sm);
	line-height: var(--line-height-loose);
	padding-top: var(--space-lg);
}

footer small {
	font-style: normal;
	margin: 0;
}

footer span:not(footer address span) {
	cursor: default;
	font-size: var(--font-size-base)
}

hr {
	background: var(--hr-color);
	border: none;
	height: 1px;
	margin-block: var(--space-md);
	opacity: 0.5;
}

section {
	display: flex;
	flex-wrap: wrap;
	gap: var(--section-gap);
	justify-content: center;
}

/* ==========================================================================
   NAV
   ========================================================================== */

.burger {
	align-items: center;
	backdrop-filter: var(--modal-caption-blur);
	background: none;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	display: none;
	font-size: var(--font-size-2xl);
	justify-content: center;
	margin: 0 0 var(--space-md) 0;
	padding: var(--space-sm);
	text-align: center;
	transition:
		background var(--transition-fast),
		border var(--transition-fast),
		box-shadow var(--transition-fast);
	width: 50%;
}

.nav-wrapper {
	display: flex;
	justify-content: center;
	position: sticky;
	top: var(--space-sm);
	width: 100%;
	z-index: 100;
}

nav {
	align-items: center;
	backdrop-filter: var(--modal-blur);
	border: 1px solid var(--bg-color-main);
	border-radius: var(--border-radius-sm);
	display: flex;
	justify-content: center;
	margin: 0 0 var(--space-md) 0;
	padding: var(--space-sm);
	text-align: center;
	transition:
		background var(--transition-fast),
		border var(--transition-fast),
		box-shadow var(--transition-fast);
	width: fit-content;
	z-index: 100;
}

nav a {
	color: var(--text-color-primary);
	font-size: var(--font-size-sm);
	padding: var(--space-sm) var(--space-ms);
	text-decoration: none;
	transition:
		color var(--transition-fast),
		text-decoration var(--transition-fast);
}

nav a:hover {
	color: var(--accent-color);
	text-decoration: underline;
}

.nav-scrolled nav,
.nav-scrolled button {
	background: var(--bg-color-caption);
	border: 1px solid var(--border-color-caption);
	box-shadow: var(--shadow-nav);
}

/* ==========================================================================
   BIO
   ========================================================================== */

.bio-container {
	display: grid;
	gap: var(--grid-gap);
	grid-auto-rows: minmax(min-content, max-content);
	grid-template-columns: 2fr 1fr;
}

.bio-container > * {
	min-height: 0;
}

.bio-container p {
	flex: 1;
	line-height: var(--line-height-airy);
	margin: 0;
	text-indent: var(--space-lg);
	text-wrap: pretty;
}

.bio-container p:not(.bio-container p:nth-last-child(1)) {
	margin-bottom: var(--space-md);
}

figure {
	display: flex;
	flex-flow: column;
	position: relative;
	margin: 0;
	z-index: 99;
}

figure img {
	border-radius: var(--border-radius-sm);
	box-shadow: var(--shadow-subtle);
	height: 100%;
	object-fit: cover;
	position: absolute;
	width: 100%;
}

figcaption {
	backdrop-filter: var(--modal-caption-blur);
	background: var(--bg-color-caption);
	border: 1px solid var(--border-color-caption);
	border-radius: var(--border-radius-sm);
	bottom: 0;
	box-sizing: border-box;
	color: var(--text-color-secondary);
	font-family: var(--font-family-ui);
	font-size: var(--font-size-sm);
	text-align: center;
	left: 0;
	margin: var(--space-xs);
	opacity: 0;
	padding: var(--space-xs);
	position: absolute;
	transform: translateY(10px);
	transition:
		opacity var(--transition-medium),
		transform var(--transition-medium);
	width: stretch;
	width: -webkit-fill-available;
	width: -moz-available;
}

figure:hover figcaption {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0);
}

/* ==========================================================================
   DETAILS
   ========================================================================== */

.details-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	gap: var(--grid-gap);
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

details {
	padding: var(--space-md) 0;
}

details > article {
	animation: none;
	opacity: 0;
}

details[open] > article {
	animation: fadeIn 0.4s ease-out forwards;
	animation-delay: var(--animation-order, 0s);
}

details li {
	padding-block: var(--space-sm);
}

details li::marker {
	color: var(--accent-color);
}

details ul {
	box-shadow: none;
	list-style: star;
	margin-bottom: calc(var(--space-lg) + var(--space-sm));
	padding-bottom: var(--space-sm);
}

details[open] ul {
	box-shadow: var(--shadow-details);
}

summary {
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	outline: 1px solid var(--button-border-color);
	padding: var(--space-sm) 0;
	transition: background-color var(--transition-medium);
}

summary:hover {
	background-color: var(--accent-color-alpha);
}

/* ==========================================================================
   TABLE & PROGRESS BAR STYLES
   ========================================================================== */

table {
	border: 1px solid var(--border-color);
	border-collapse: collapse;
	font-size: inherit;
	width: 100%;
}

th {
	background-color: var(--primary-color-alpha);
	font-weight: var(--font-weight-heavy);
}

th,
td {
	border: 1px solid var(--border-color);
	padding: var(--space-sm);
	text-align: left;
}

tfoot {
	text-wrap: wrap;
}

caption {
	caption-side: bottom;
	color: var(--text-color-muted);
	font-style: italic;
	padding: var(--space-sm) 0;
	text-align: right;
	z-index: 1000;
}

.prod-role {
	color: var(--accent-color);
	text-shadow: var(--shadow-glow);
}

.elevation {
	--elevation-percent: 0%;
	--elevation-fraction: 0;
	--glow-color: color-mix(in oklch,
			var(--heatmap-glow-min-color),
			var(--heatmap-glow-max-color) var(--elevation-percent));
	--glow-size: calc(0px + 6px * var(--elevation-fraction));

	color: color-mix(in oklch,
			var(--heatmap-min-color),
			var(--heatmap-max-color) var(--elevation-percent));
	font-family: var(--font-family-mono);
	font-weight: calc(100 + 600 * var(--elevation-fraction));
	text-shadow: 0 0 var(--glow-size) var(--glow-color);
}

.ranked {
	color: var(--accent-color);
	text-shadow: var(--shadow-glow);
}

.unranked {
	color: var(--text-color-muted);
}

.year-summary-row td {
	background: var(--accent-color-alpha);
	vertical-align: middle;
}

.sequence-group {
	border-inline: 2px solid var(--border-sequence);
}

.sequence-first {
	border-block-start: 2px solid var(--border-sequence);
}

.sequence-last {
	border-block-end: 2px solid var(--border-sequence);
}

progress[value] {
	appearance: none;
	background: var(--bg-color-progress);
	border: none;
	border-radius: var(--border-radius-md);
	color: var(--color-bar-fill);
	height: var(--space-xs);
	width: 100%;
}

progress[value]::-webkit-progress-bar {
	background: var(--bg-color-progress);
	border-radius: var(--border-radius-md);
}

progress[value]::-moz-progress-bar {
	background: var(--bg-color-progress);
	border-radius: var(--border-radius-md);
}

progress[value]::-webkit-progress-value {
	background: var(--color-bar-fill);
	border-radius: var(--border-radius-md);
	box-shadow: var(--shadow-prog);
}

progress[value]::-moz-progress-value {
	background: var(--color-bar-fill);
	border-radius: var(--border-radius-md);
	box-shadow: var(--shadow-prog);
}

/* ==========================================================================
   RECORDS
   ========================================================================== */
#now-playing,
#for-sale {
	display: block;
}

#now-playing h3,
#for-sale h3 {
	font-family: var(--font-family-ui);
	justify-content: left;
	margin: 0 0 var(--space-md) 0;
}

/* ==========================================================================
   MISC
   ========================================================================== */
   
.abbr-tooltip {
	backdrop-filter: var(--modal-caption-blur);
	background: var(--bg-color-tooltip);
	border: solid 1px var(--border-color);
	border-radius: var(--border-radius-sm);
	box-shadow: var(--shadow-subtle);
	color: var(--text-color-primary);
	font-family: var(--font-family-ui);
	opacity: 0;
	padding: var(--space-sm);
	position: absolute;
	transition: opacity var(--transition-medium);
	z-index: 10;
}

.abbr-tooltip.show {
	opacity: 1;
}

.closing {
	margin: var(--space-ms) 0 var(--space-ms) 0;
}

/* ==========================================================================
   @media RESPONSIVE DESIGN
   ========================================================================== */

/* Medium screens and down (up to ~1024px) */
@media (max-width: 64em) {

	section {
		flex-direction: column;
		gap: var(--space-md);
	}

	section p {
		margin-right: 0;
		text-indent: 2em;
	}

	section.data-tables {
		flex-direction: column;
	}

	section.data-tables .flex-item {
		min-width: 100%;
	}

	td time {
		text-wrap: wrap;
	}

	.sticky-nav a {
		font-size: var(--font-size-xs);
	}

}

/* Small screens and down (up to ~768px) */
@media (max-width: 48em) {

	html {
		padding: var(--space-md);
	}

	main {
		/* border-radius: var(--border-radius-md); */
		padding: var(--space-md);
	}

	header,
	.bio-container p {
		text-align: center;
		text-wrap: balance;
	}

	details,
	summary {
		font-size: var(--font-size-sm);
	}

	.sticky-nav {
		opacity: 0;
		visibility: hidden;
		transition: 
			opacity var(--transition-fast),
			visibility var(--transition-fast);
		flex-direction: column;
		position: absolute;
		top: 100%;
		width: 50%;
		background-color: var(--bg-color-caption);
		border: 1px solid var(--border-color);
	}

	.sticky-nav.is-open {
		display: flex;
		width: 50%;
		opacity: 1;
		visibility: visible;
	}

	.sticky-nav a {
		text-align: center;
	}

	.burger {
		display: block;
	}

	.bio-container {
		grid-template-columns: 1fr;
	}

	.bio-container img {
		height: auto;
		position: relative;
		max-height: 15rem;
	}

	table {
		font-size: var(--font-size-xs);
	}

	td {
		padding: var(--space-xs);
	}

	#map {
		border-radius: var(--border-radius-md);
		margin-top: 0;
		margin-bottom: var(--space-xs);
	}

	.leaflet-container .leaflet-control-attribution {
		margin-bottom: var(--space-md);
		margin-right: var(--space-md);
	}

}

/* Extra small screens (up to ~480px) */
@media (max-width: 30em) {

	html {
		padding: 0;
	}

	main {
		padding: var(--space-xs);
	}

	.bio-container p {
		text-indent: 1em;
	}

	table {
		font-size: var(--font-size-xxs);
	}

}