/* TABLE STYLES */
#mountains,
#concerts {
	flex: 1;
}

/* BAG BAR */
.peak-progress {
	position: relative;
	z-index: 0;
}

.peak-progress>* {
	color: var(--text-color);
	position: relative;
	z-index: 1;
}

.peak-progress::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: var(--bar-bg);
	z-index: 0;
}

.peak-progress::after {
	content: "";
	position: absolute;
	inset: 0;
	width: var(--width);
	background-color: var(--bar-fill);
	z-index: 0;
	transition: width 0.5s ease;
}

#productions td:nth-last-child(-n+6) {
	text-align: center;
}