@layer base {
	a {
		color: var(--color-accent-1);
		white-space: nowrap;
	}

	a[target="_blank"]:not(.record-link, #map a)::after {
		content: "\2197";
	}

	abbr {
		font-family: var(--font-family-mono);
		text-decoration: underline dotted var(--color-accent-0);
		transition: all var(--transition-fast);
	}

	data {
		font-family: var(--font-family-mono);
	}

	footer {
		text-align: center;
		font-size: var(--text-sm);
		line-height: var(--line-height-loose);
		padding-top: var(--space-lg);

		& .flags {
			cursor: default;
			font-size: var(--text-base);
		}
		
		& address {
			font-style: normal;
			text-transform: uppercase;
		}

		& small {
			font-style: normal;
		}
	}

	header {
		text-align: center;

		& h1 {
			font-size: var(--text-h1);
			margin-block: var(--space-sm);
		}

		& h2 {
			color: var(--color-accent-0);
			font-size: var(--text-md);
			font-weight: var(--font-weight-heavy);
			margin-top: 0;
		}
	}

	@media (min-width: 48.0625em) {
		header {
			text-align: start;
		}
	}

	:is(caption, label, small) {
		color: var(--color-text-secondary);
		font-size: smaller;
		font-style: italic;
		font-weight: var(--font-weight-light);
	}

	strong {
		color: var(--color-accent-0);
		text-shadow: var(--shadow-glow);
	}

	time {
		color: var(--color-text-secondary);
		font-family: var(--font-family-mono);
		text-align: center;
		text-wrap: nowrap;
	}
}