@layer components {
	button {
		appearance: none;
	}
	
	button:is(.popover) {
		appearance: none;
		background: none;
		border: none;
		cursor: help;
		font-size: var(--text-table);
		font-weight: var(--font-weight-heavy);
		margin: 0;
		padding: 0;
		
		&:hover {
			text-shadow: var(--shadow-text-outline), var(--shadow-prog);
		}
	}

	button:is(.gallery-btn) {
		background: var(--color-bg-main);
		border: 1px solid var(--color-accent-light);
		border-radius: var(--border-radius-sm);
		color: var(--color-text-primary);
		cursor: pointer;
		font-size: var(--text-xs);
		padding: var(--space-sm) clamp(var(--space-xxs), 1vw, var(--space-md));
		text-wrap: wrap;
		touch-action: manipulation;
		transition:
			all var(--transition-medium);
		user-select: none;
		z-index: 1;

		&:hover {
			background-color: var(--color-accent-alpha);
			box-shadow: var(--shadow-elevated);
			transform: translateY(-2px);
			z-index: 2;
		}

		&:hover:active {
			box-shadow: var(--shadow-subtle);
			transform: translateY(0px);
		}

		&.active {
			background: var(--color-accent-0);
			border: 1px solid var(--color-border-caption);
			box-shadow: var(--black-0) 0 1px 1px inset;
			color: var(--color-bg-main);
			cursor: default;
			font-weight: var(--font-weight-heavy);

			&:hover {
				background: var(--color-accent-light);
				box-shadow: var(--black-0) 0 1px 1px inset;
				transform: translateY(0);
			}

			&:hover:active {
				box-shadow: var(--black-0) 0 1px 1px inset;
				cursor: not-allowed;
			}
		}
	}

	.abbr-tooltip {
		anchor-default: center;
		font-weight: var(--font-weight-normal);
		position: fixed;
		inset: auto;
		inset-inline-start: anchor(center);
		position-try-fallbacks:
			anchor(top),
			anchor(right),
			anchor(left);
		top: anchor(bottom);
		translate: -50% 0.25rem;
		transition: opacity 0.2s, translate 0.2s, display 0.2s allow-discrete;
		opacity: 0;

		@starting-style {
			display: none;
			opacity: 0;
			translate: -50% 0.75rem;
		}

		&:popover-open {
			display: contents;
			opacity: 1;

		}

		&:not(:popover-open) {
			position-try-fallbacks: none !important;
		}
	}

	.caption {
		backdrop-filter: var(--blur-modal-caption) saturate(50%);
		background: var(--color-bg-light);
		border: 1px solid oklch(from var(--color-border-caption) l c h);
		border-radius: var(--border-radius-sm);
		box-shadow: var(--shadow-subtle);
		color: var(--color-text-primary);
		font-family: var(--font-family-ui);
		font-size: var(--text-xs);
		opacity: 0;
		padding: var(--space-xs);
		text-align: center;

		&:not(.abbr-tooltip) {
			inset: auto var(--space-xs) var(--space-xs) var(--space-xs);
			position: absolute;
			transition:
				opacity var(--transition-medium-io),
				transform var(--transition-medium);
		}
	}
}