@layer reset {

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		interpolate-size: allow-keywords;
		margin: 0;
		padding: 0;
	}

	button, summary {
		appearance: none;
		background: none;
		cursor: pointer;
		touch-action: manipulation;
		-webkit-user-select: none;
		user-select: none;
	}
	
	:focus-visible {
		border-radius: var(--radius-md);
		outline: 2px solid var(--color-accent-0);
		outline-offset: 2px;
	}

	:is(img, picture, video, canvas, svg) {
		display: block;
		max-inline-size: 100%;
	}

	:is(input, button, textarea, select) {
		font: inherit;
	}

	:is(p, h1, h2, h3, h4, h5, h6) {
		overflow-wrap: break-word;
	}
}
