@layer tokens {
	:root {
		accent-color: var(--color-accent-0);
		color-scheme: light dark;

		--space-sm: clamp(0.25rem, 1vw, 0.5rem);
		--space-md: clamp(0.5rem, 2vw, 1rem);

		--fluid-padding-table: round(clamp(0.25rem, 2vw - 0.5rem, 0.5rem), 0.0125rem);

		/* Modal Constraints */
		--modal-max-width: 85dvw;
		--modal-max-height: 90dvh;

		/* Typography */
		--font-family-ui: ui-rounded, sans-serif, systemui;
		--font-family-mono: ui-monospace, "Cascadia Code", "Source Code Pro", menlo, consolas, "DejaVu Sans Mono", monospace;

		--font-weight-light: 300;
		--font-weight-normal: 400;
		--font-weight-heavy: 600;

		--font-base: round(clamp(1rem, 0.9rem + 0.5vw, 1.125rem), 0.0625rem);

		--font-scale: 1.2;

		--text-xs: calc(var(--font-base) * 0.75);
		--text-sm: calc(var(--font-base) * 0.875);
		--text-base: var(--font-base);
		--text-md: calc(var(--font-base) * var(--font-scale));
		--text-lg: calc(var(--font-base) * var(--font-scale) * 1.2);
		--text-xl: calc(var(--font-base) * var(--font-scale) * 1.44);

		--text-table: clamp(0.875rem, 0.8rem + 0.35vw, 1rem);

		--line-height-base: 1;
		--line-height-compact: 1.3;
		--line-height-airy: 1.5;
		--line-height-loose: 2;

		/* Border Radii */
		--radius-sm: 0.25rem;
		--radius-md: 0.5rem;
		--radius-main: clamp(0.5rem, 2vw, 2rem);
		--radius-section: clamp(0.25rem, 2vw, 1rem);

		/* Color Palette */
		--turquoise: oklch(75% 0.13 185);
		--international-orange: oklch(67% 0.222 37.42);
		--green: oklch(62% 34% 161deg);
		--paradise-pink: oklch(0.632 0.2406 23.18);

		--black-0: oklch(13% 0 none);
		--black-1: oklch(23% 0 none);
		--black-2: oklch(36% 0 none);
		--black-3: oklch(48% 0 none);

		--gray-0: oklch(81% 0 90);
		--slate-0: oklch(40% 0.04 197);

		--white-0: oklch(98.52% 0 89.88);

		/* Color Variables */
		--color-primary: light-dark(var(--turquoise), var(--turquoise));

		--color-accent-light: oklch(from var(--color-accent-0) l c h / 0.75);
		--color-accent-alpha: oklch(from var(--color-accent-0) l c h / 0.15);

		--color-bg-main: light-dark(var(--white-0), var(--black-0));
		--color-bg-light: oklch(from var(--color-bg-main) l c h / 0.50);
		--color-bg-alpha: oklch(from var(--color-bg-main) l c h / 0.15);

		--color-text-primary: light-dark(var(--black-0), var(--white-0));
		--color-text-secondary: oklch(from var(--color-text-primary) l c h / 0.7);
		--color-text-muted: oklch(from var(--color-text-primary) l c h / 0.5);
		--color-text-selected: var(--color-bg-main);
		--color-text-selection: oklch(from var(--color-accent-0) l c h / 0.9);

		--color-accent-0: light-dark(var(--international-orange), var(--turquoise));
		--color-accent-1: light-dark(oklch(from var(--color-primary) l c calc(h + 80)), oklch(76% 38% 232deg));
		--color-accent-2: light-dark(oklch(from var(--color-primary) l c calc(h - 180)), oklch(65% 48% 254deg));
		--color-accent-3: light-dark(oklch(from var(--color-primary) l c calc(h - 120)), oklch(59% 25% 246deg));

		--color-border: light-dark(var(--gray-0), var(--slate-0));
		--color-border-caption: light-dark(var(--black-0), var(--color-accent-0));

		--color-shadow-0: light-dark(var(--black-0), var(--color-accent-0));
		--color-shadow-1: light-dark(var(--black-1), var(--color-accent-1));
		--color-shadow-2: light-dark(var(--black-2), var(--color-accent-2));
		--color-shadow-3: light-dark(var(--black-3), var(--color-accent-3));

		--color-glow-0: oklch(from var(--color-accent-0) calc(l + 0.05) c h);
		--color-glow-1: oklch(from var(--color-glow-0)   calc(l + 0.15) c h);
		--color-glow-2: oklch(from var(--color-glow-0)   calc(l + 0.30) c h);

		--color-primary-light: oklch(from var(--color-primary) l c h / 0.90);
		--color-primary-alpha: oklch(from var(--color-primary) l c h / 0.15);

		/* Glass */
		--glassy:
			linear-gradient(
				to bottom,
				color-mix(in oklch, var(--color-bg-main) 80%, transparent) 0%,
				color-mix(in oklch, var(--color-bg-main) 65%, transparent) 35%,
				transparent 100%
			);

		--glass-frame:
			inset 0 1px 0 light-dark(rgb(255 255 255 / .5), oklch(from var(--black-2) l c h / 0.75)) /* top */, 
			inset -1px 0 0 light-dark(rgb(0 0 0 / .25), oklch(from var(--black-1) l c h / 0.5)) /* right */, 
			inset 1px 0 0 light-dark(rgb(0 0 0 / .25), oklch(from var(--black-1) l c h / 0.5)) /* left */,
			inset 0 -1px 0 light-dark(rgb(255 255 255 / .5), oklch(from var(--black-0) l c h / 0.5)) /* bottom */;
		
		--shadow-glass:
			oklch(from var(--white-0) l c h / 0.2) 20px 20px 60px inset,
			oklch(from var(--black-0) l c h / 0.1) -20px -20px 60px inset,
			oklch(from var(--black-1) l c h / 0.1) 0 8px 32px,
			oklch(from var(--black-2) l c h / 0.1) 0 8px 16px,
			oklch(from var(--white-0) l c h / 0.125) 0 1px 5px inset;

		/* Shadows */
		--shadow-elevated:
			oklch(from var(--color-shadow-1) l c h / 0.125) 0 1px 2px,
			oklch(from var(--color-shadow-2) l c h / 0.25) 0 4px 12px,
			oklch(from var(--color-shadow-3) l c h / 0.05) 0 2px 8px;

		--shadow-glow:
			var(--shadow-text-outline),
			oklch(from var(--color-shadow-0) l c h / 0.9) 0 0 3px,
			oklch(from var(--color-shadow-1) l c h / 0.7) 0 0 7px,
			oklch(from var(--color-shadow-2) l c h / 0.5) 0 0 10px;

		--shadow-modal:
			oklch(from var(--black-0) l c h / 0.50) 0 1px 1px,
			oklch(from var(--black-1) l c h / 0.25) 0 2px 8px,
			oklch(from var(--black-1) l c h / 0.25) 0 3px 16px;

		--shadow-text-caption:
			oklch(from var(--color-bg-main) l c h / 0.25) 0 2px 3px;

		--shadow-text-outline:
			var(--color-bg-main) 0 0 0.05em;
	}

	::selection {
		background-color: var(--color-text-selection);
		color: var(--color-text-selected);
	}

	@media (prefers-color-scheme: light) {
		:root {
			--shadow-glow: none;
		}
	}

}
