@layer utilities {
	.data-tables {
		display: flex;
		gap: var(--grid-gap);

		@container main (width < 48rem) {
			flex-direction: column;
			inline-size: 100%;
		}
	}
	
	.flex {
		display: flex;
		flex-flow: column;
	}

	.flex-item {
		flex: 1;
	}

	.grid {
		display: grid;
		gap: var(--grid-gap);
	}

	.sr-only {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		inline-size: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		white-space: nowrap;
	}

	.text-center {
		text-align: center;
	}

	.padding-inline-md {
		padding-inline: var(--space-md);
	}

	.venue--red-rocks {
		color: #ff4500;
	}

	.venue--bluebird {
		color: #2b529c;
	}

	.venue--ogden {
		color: #ee2738;
	}

	.venue--belly-up {
		color: #1174b9;
	}

	.venue--golden-tri {
		color: gold;
	}

	.venue--summit {
		color: #7130df;
	}

	.venue--fillmore {
		color: #ecd24c;
	}

	.venue--ball-arena {
		color: #4ca9c8;
	}

	.venue--gothic {
		color: #dc5233;
	}
}