@layer utilities {
	.data-tables {
		display: flex;
		gap: var(--space-md);

		@container main (width < 48rem) {
			flex-direction: column;
			inline-size: 100%;
		}
	}

	.grid {
		display: grid;
		gap: var(--space-md);
	}

	.sr-only {
		border: 0;
		clip-path: inset(50%);
		height: 1px;
		inline-size: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		white-space: nowrap;
	}

	.text-center {
		text-align: center;
	}

	.nowrap {
		white-space: nowrap;
	}

	.padding-inline-md {
		padding-inline: var(--space-md);
	}

	.venue--red-rocks {
		color: oklch(66.02% 0.2293 35.4);
	}

	.venue--bluebird {
		color: oklch(45.14% 0.1285 261.76);
	}

	.venue--ogden {
		color: oklch(61.2% 0.2286 23.96);
	}

	.venue--belly-up {
		color: oklch(54.27% 0.1356 246.65);
	}

	.venue--golden-tri {
		color: oklch(88.48% 0.1816 94.89);
	}

	.venue--summit {
		color: oklch(50.76% 0.2409 292.31);
	}

	.venue--fillmore {
		color: oklch(86.2% 0.1514 98.05);
	}

	.venue--ball-arena {
		color: oklch(69.13% 0.0983 222.89);
	}

	.venue--gothic {
		color: oklch(61.89% 0.1789 34.15);
	}
}
