@layer components.bio {
	@keyframes tilt {
		0% {
			transform: rotate(0) translateY(0);
		}

		100% {
			transform: rotate(3deg) translateY(.1rem);
		}
	}

	#about {
		align-items: center;
		display: grid;
		gap: var(--space-md);
		grid-auto-rows: minmax(min-content, max-content);
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		padding-inline: clamp(0rem, 5vw - 1rem, 5rem);

		& p {
			text-indent: clamp(1rem, 2.5vw, 2.5rem);
			text-wrap: pretty;

			&:not(:last-child) {
				margin-block-end: 1.5rem;
			}
		}

		& figure {
			background: snow;
			border: 8px outset black;
			box-shadow:
				oklch(from var(--black-3) l c h / 1) 0 0 2px,
				oklch(from var(--black-0) l c h / 0.125) 0 0 0 1px inset,
				oklch(from var(--black-0) l c h / 0.5) 3px 3px 6px inset,
				oklch(from var(--white-0) l c h / 1) -1px -1px 4px 2px inset,
				oklch(from var(--black-0) l c h / 0.6) 2px 4px 8px 1px,
				oklch(from var(--black-1) l c h / 0.3) 4px 8px 24px 2px;
			display: inline-block;
			height: fit-content;
			padding: 14px;
			position: relative;
			transform-origin: 45% 20%;

			& figcaption {
				color: var(--black-2);
				font-family: serif;
				font-style: italic;
				margin-block-start: .75rem;
				text-align: center;
			}

			&.is-tilted {
				animation: tilt 2s var(--timing-frame) forwards;
			}

			& .matte {
				background: snow;
				border: 1px inset ghostwhite;
				box-shadow:
					oklch(from var(--black-0) l c h / 0.95) 0 0 2px -1px inset,
					oklch(from var(--white-0) l c h / 0.95) -1px -1px 2px -1px inset;
				padding: 20px;
				position: relative;

				& img {
					aspect-ratio: 4/3;
					display: block;
					height: 100%;
					max-block-size: 12rem;
					object-fit: cover;
					width: 100%;
				}
			}

			&::after {
				background:
					radial-gradient(140% 140% at 65% -25%,
						oklch(from var(--black-0) l c h / .45) 0%,
						oklch(from var(--black-1) l c h / .25) 25%,
						oklch(from var(--black-2) l c h / .12) 45%,
						oklch(from var(--black-3) l c h / .10) 65%);
				content: "";
				inset: 0;
				mix-blend-mode: screen;
				pointer-events: none;
				position: absolute;
			}

			&::before {
				background:
					linear-gradient(to bottom right,
						oklch(from var(--black-0) l c h / .1),
						oklch(from var(--black-1) l c h / .05) 45%);
				content: "";
				inset: 0;
				mix-blend-mode: multiply;
				pointer-events: none;
				position: absolute;
			}
		}

		@container main (width < 48rem) {
			grid-template-columns: 1fr;

			& p {
				max-inline-size: min(100%);
				text-align: justify;
			}

			& figure {
				margin-block-start: 2.5rem;
				margin-inline: 5rem;
			}

			& img {
				min-block-size: 15rem;
				position: relative;
			}
		}
	}
}