@layer components.galleries {
	.gallery-buttons {
		display: grid;
		gap: var(--space-sm);
		grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));

		& button {
			background: var(--color-bg-main);
			border: 1px solid light-dark(var(--gray-0), var(--slate-0));
			border-radius: var(--radius-main);
			font-size: var(--text-xs);
			outline: 2px solid;
			outline-color: transparent;
			outline-offset: 1px;
			padding: 0.5rem;
			text-wrap: wrap;
			transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, outline-color 0.3s ease;
			z-index: 2;

			&:hover {
				background: light-dark(oklch(from var(--color-bg-main) calc(l - 0.05) c h), oklch(from var(--color-bg-main) calc(l + 0.05) c h));
			}

			&:active {
				background: light-dark(oklch(from var(--color-bg-main) calc(l - 0.2) c h), oklch(from var(--color-bg-main) calc(l + 0.1) c h));
			}

			&.selected {
				background: var(--color-accent-0);
				border: 1px solid transparent;
				box-shadow: none;
				color: var(--color-text-selected);
				cursor: default;
				outline-color: var(--color-accent-0);

				&:active {
					background: light-dark(oklch(from var(--color-accent-0) calc(l - 0.05) c h), oklch(from var(--color-accent-0) calc(l + 0.05) c h));
					cursor: not-allowed;
				}
			}
		}
	}

	.photo-grid {
		grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

		& button {
			appearance: none;
			background: none;
			border: 0;
			border-radius: var(--radius-md);
			cursor: pointer;
			outline: 2px solid;
			outline-color: transparent;
			outline-offset: 1px;
			overflow: hidden;
			padding: 0;
			transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), filter 0.3s cubic-bezier(0.4, 0, 0.2, 1), outline-color 0.3s ease;

			& img {
				block-size: 100%;
				filter: grayscale(100%);
				inline-size: 100%;
				object-fit: cover;
				transition: inherit;
			}

			&:hover {
				box-shadow: var(--shadow-modal);

				& img {
					filter: grayscale(0%);
				}
			}

			&:active {
				outline-color: var(--color-accent-0);
			}
		}
	}

	.landscape-row .photo-thumb {
		aspect-ratio: 4/3;
	}

	.portrait-row .photo-thumb {
		aspect-ratio: 3/4;
	}

	.pano-row .photo-thumb {
		aspect-ratio: 4/1;
	}
	
	@keyframes flash {
		from {
			filter: brightness(1.8);
		}
	
		to {
			filter: brightness(1);
		}
	}
}