@layer components.navigation {
	.nav-wrapper {
		display: inline-flex;
		justify-content: center;
		position: sticky;
		top: 2rem;
		z-index: 100;
	}

	.nav-toggle {
		display: none;
	}

	nav {
		background: none;
		border-color: oklch(from var(--color-bg-main) l c h / .31);
		border-radius: var(--radius-main);
		border-style: solid;
		border-width: 1px 0 0 0.8px;
		display: flex;
		padding: 1rem;
		text-wrap: nowrap;
		transition: background-color 0.3s ease, box-shadow 0.3s ease;

		& ul {
			display: flex;
			gap: 0.5rem;
			list-style: none;

			& li {
				align-items: center;
				display: inherit;

				&:not(:last-child)::after {
					color: var(--color-accent-light);
					content: '|';
					margin-inline-start: 0.5rem;
				}

				& a {
					color: var(--color-text-secondary);
					font-size: var(--text-sm);
					text-decoration: none;
					transition: color 0.3s ease, text-decoration-color 0.3s ease;

					&:hover {
						color: var(--color-accent-0);
						text-decoration: underline;
						text-decoration-color: var(--color-accent-0);
					}
				}
			}
		}
	}

	.nav-scrolled > * {
		backdrop-filter: blur(2.5px);
		background: 
		linear-gradient(
			180deg, 
			oklch(from var(--color-bg-main) l c h / .6) 0%, 
			oklch(from var(--color-bg-main) l c h / .4) 10%, 
			oklch(from var(--color-bg-main) l c h / 0) 40%, 
			oklch(from var(--color-bg-main) l c h / .2) 80%, 
			oklch(from var(--color-bg-main) l c h / .4) 100%
		);
		background-color: var(--color-bg-alpha);
		box-shadow:
			var(--shadow-glass),
			var(--shadow-elevated);
		text-shadow: var(--shadow-text-caption);
	}

	@container main (max-width: 45em) {
		.nav-toggle,
		nav {
			border-radius: var(--radius-main);
			box-shadow:
				var(--shadow-glass),
				var(--shadow-elevated);
			text-shadow: var(--shadow-text-caption);
		}

		.nav-toggle {
			align-items: center;
			cursor: pointer;
			display: flex;
			font-size: var(--text-xl);
			inline-size: 50%;
			justify-content: center;
			padding: 0.5rem;
			transition: background-color 0.3s ease, box-shadow 0.3s ease;
		}

		nav {
			flex-direction: column;
			inline-size: 50%;
			margin-block-start: 0.5rem;
			opacity: 0;
			position: absolute;
			top: 100%;
			transition: opacity 0.3s ease, visibility 0.3s ease;
			visibility: hidden;

			& ul {
				flex-direction: inherit;
				inline-size: 100%;

				& li {
					flex-direction: inherit;
					justify-content: center;
					margin-block: 0.25rem;

				&::after {
					display: none;
				}

				& a {
					color: var(--color-text-primary);
				}
			}
		}

			&.is-open {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
