/* ==========================================================================
   NAV
   ========================================================================== */
.nav-wrapper {
   display: flex;
   justify-content: center;
   position: sticky;
   top: var(--space-sm);
   inline-size: 100%;
   z-index: 100;
}
   
.nav-wrapper button {
	backdrop-filter: var(--modal-caption-blur);
	background: none;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	display: none;
	font-size: var(--font-size-2xl);
	margin: 0 0 var(--space-md) 0;
	padding: var(--space-sm);
	transition:
		background var(--transition-fast),
		border var(--transition-fast),
		box-shadow var(--transition-fast);
	inline-size: 50%;
}

nav {
	backdrop-filter: var(--modal-caption-blur);
	border: 1px solid var(--bg-color-main);
	border-radius: var(--border-radius-sm);
	display: flex;
	margin: 0 0 var(--space-md) 0;
	padding: var(--space-sm);
	text-align: center;
	transition:
		background var(--transition-fast),
		border var(--transition-fast),
		box-shadow var(--transition-fast);
	inline-size: fit-content;
	z-index: 100;

	& a {
		color: var(--text-color-primary);
		font-size: var(--font-size-xs-sm);
		padding: var(--space-sm) var(--space-ms);
		text-decoration: none;
		transition:
			color var(--transition-fast),
			text-decoration var(--transition-fast);
	}

	& a:hover {
		color: var(--accent-color);
		text-decoration: underline;
	}
}

.nav-scrolled nav,
.nav-scrolled button {
	background: var(--bg-color-caption);
	border: 1px solid var(--border-color-caption);
	box-shadow: var(--shadow-nav);
}

@media (max-width: 48em) {
	nav {
		opacity: 0;
		visibility: hidden;
		transition:
			opacity var(--transition-fast-io),
			visibility var(--transition-fast-io);
		flex-direction: column;
		position: absolute;
		top: 100%;
		inline-size: 50%;
		background-color: var(--bg-color-caption);
		border: 1px solid var(--border-color);

		&.is-open {
			opacity: 1;
			visibility: visible;
		}
	}

	.nav-wrapper button {
		display: block;
	}
}