@layer components.tables {
	table {
		background-color: var(--color-bg-main);
		border-collapse: collapse;
		font-size: var(--text-table);
		inline-size: 100%;
		table-layout: auto;

		& caption {
			caption-side: bottom;
			padding-block-start: 0.5rem;
			text-align: right;
			text-shadow: var(--shadow-text-outline);
		}

		& thead {
			background-color: var(--color-primary-alpha);
		}

		& th {
			text-align: left;
		}

		& button:is(.camera-link) {
			background: none;
			border: none;
			font-size: larger;
			padding: 0.25rem;
			position: relative;

			&::before {
				content: "📷";
			}

			&::after {
				animation: opacity 0.95s var(--timing-frame), filter .05s var(--timing-led);
				content: "📸";
				filter: brightness(1);
				inset-inline-start: 0.25rem;
				opacity: 0;
				pointer-events: none;
				position: absolute;
				top: 0.25rem;
			}

			&:hover::after {
				animation: flash 0.5s var(--timing-led);
				opacity: 1;
			}
		}
	}

	:is(th, td) {
		border: 1px solid var(--color-border);
		padding-block: 0.5rem;
		padding-inline: var(--fluid-padding-table);
	}

	:is(.prod-role, .ranked) {
		color: var(--color-accent-0);
		font-size: larger;
		text-shadow: var(--shadow-glow);
	}

	:is(.unranked) {
		color: var(--color-text-muted);
	}

	.year-summary-row th {
		background: var(--color-accent-alpha);
		font-weight: var(--font-weight-normal);
		text-align: center;
	}

	.elevation-chart-cell {
		padding: 0;
	}

	.elevation-chart {
		--mountain-chart-color: var(--color-accent-0);
		--mountain-chart-fill: var(--color-accent-alpha);
		block-size: 3rem;
	}

	.sequence-group {
		border-inline: 2px solid var(--color-accent-0);
	}

	.sequence-first {
		border-block-start: 2px solid var(--color-accent-0);
	}

	.sequence-last {
		border-block-end: 2px solid var(--color-accent-0);
	}

	.mtn-elevation data {
		--heatmap-min-color: oklch(from var(--color-accent-0)    l calc(c - 0.22) h);
		--heatmap-max-color: oklch(from var(--color-accent-0)    l c h);
		--heatmap-glow-min-color: oklch(from var(--color-glow-2) l c h / 0.6);
		--heatmap-glow-max-color: oklch(from var(--color-glow-0) l c h / 0.8);

		@property --elevation-fraction {
			inherits: false;
			initial-value: 0;
			syntax: '<number>';
		}

		@property --elevation-percent {
			inherits: false;
			initial-value: 0%;
			syntax: '<percentage>';
		}

		--glow-color: color-mix(in oklch,
			var(--heatmap-glow-min-color),
			var(--heatmap-glow-max-color) var(--elevation-percent));
		--glow-size: calc(0px + 0.5rem * var(--elevation-fraction));

		color: color-mix(in oklch,
			var(--heatmap-min-color),
			var(--heatmap-max-color) var(--elevation-percent));
		font-weight: calc(100 + 600 * var(--elevation-fraction));
		text-shadow: var(--shadow-text-outline),
		0 0 var(--glow-size) var(--glow-color);
	}
	
		
	@keyframes flash {
		from {
			filter: brightness(1.8);
		}
	
		to {
			filter: brightness(1);
		}
	}
}