@layer integrations.map {
	#map {
		border-radius: var(--radius-section);
		box-shadow: var(--shadow-main);
		height: 15rem;
		width: 100%;
		z-index: 1;
	}

	#map details,
	#map details *,
	#map details::before,
	#map details::after {
		box-sizing: content-box !important;
	}

	@media (prefers-color-scheme: light) {
		.map-marker {
			border: 1.5px solid var(--white-0);
		}
	}

	@media (prefers-color-scheme: dark) {
		.map-marker {
			border: 1.5px solid var(--black-0);
		}

		.maplibregl-ctrl-attrib.maplibregl-compact,
		.maplibregl-ctrl-group {
			filter: invert();
			opacity: 0.75;
		}
	}

	.map-marker {
		appearance: none;
		backdrop-filter: blur(1px);
		background: var(--color-accent-light);
		border-radius: 50%;
		box-shadow: var(--shadow-map-marker);
		cursor: pointer;
		height: 12px;
		padding: 0;
		width: 12px;
	}

	.maplibregl-popup-content {
		backdrop-filter: blur(4px) saturate(150%);
		background: var(--color-bg-alpha);
		border-bottom-width: 0px;
		border-color: oklch(from var(--color-bg-main) l c h / .31);
		border-left-width: 0.8px;
		border-radius: var(--radius-section);
		border-right-width: 0px;
		border-style: solid;
		border-top-width: 1px;
		box-shadow:
			var(--shadow-glass),
			var(--shadow-elevated);
		overflow: hidden;
		padding: 0.5rem;
		text-shadow: var(--shadow-text-caption);
	}

	.maplibregl-popup-tip {
		border: none;
	}

	.maplibregl-ctrl-group {
		backdrop-filter: blur(2.5px);
		background: var(--color-bg-light);
		border-bottom-width: 0px;
		border-color: oklch(from var(--color-bg-main) l c h / .31);
		border-left-width: 0.8px;
		border-radius: 0.5rem;
		border-right-width: 0px;
		border-style: solid;
		border-top-width: 1px;

		&:not(:empty) {
			box-shadow: var(--shadow-button);
		}
	}

	.popup-content {
		font-family: var(--font-family-ui);
		font-size: var(--text-sm);
		text-align: center;
	}

	.popup-title {
		font-weight: var(--font-weight-heavy);
	}

	.popup-details {
		color: var(--color-text-muted);
		font-size: var(--text-xs);
		line-height: var(--line-height-compact);

		& :is(data, time) {
			color: inherit;
			font-family: inherit;
		}
	}
}
