@layer integrations.map {
	.maplibregl-map {
		border: 1px solid var(--color-border);
		height: 15rem;
		width: 100%;
	}

	#map details,
	#map details *,
	#map details::before,
	#map details::after {
		box-sizing: content-box !important;
	}

	@media (prefers-color-scheme: dark) {
		.maplibregl-ctrl button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon,
		.maplibregl-ctrl button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon {
			filter: invert();
		}
	}

	.map-marker {
		appearance: none;
		backdrop-filter: blur(1px);
		background: var(--color-accent-light);
		border: none;
		border-radius: 50%;
		box-shadow:
			0 0 1px var(--black-0),
			oklch(from var(--black-0) l c h / 0.5) 0 1px 3px;
		cursor: pointer;
		height: 10px;
		outline: 1.25px solid;
		outline-color: light-dark(var(--white-0), var(--black-0));
		padding: 0;
		width: 10px;
	}

	.maplibregl-popup-content {
		backdrop-filter: blur(2.5px) saturate(150%);
		background: var(--glassy);
		border-radius: var(--radius-md);
		box-shadow:
			var(--glass-frame),
			var(--shadow-glass),
			var(--shadow-modal);
		overflow: hidden;
		padding: 0.5rem;
		text-shadow: var(--shadow-text-caption);
	}

	.maplibregl-popup-tip {
		border: none;
	}

	.maplibregl-ctrl-group {
		backdrop-filter: blur(2.5px);
		background: var(--glassy);
		border-radius: var(--radius-sm);

		&:not(:empty) {
			box-shadow:
				var(--glass-frame),
				var(--shadow-glass),
				var(--shadow-modal);
		}
	}

	.maplibregl-ctrl-group button + button {
		border-top: 1px solid oklch(from var(--color-border) l c h / .5);
		padding-inline: 1px;
	}

	.maplibregl-popup-close-button {
		border-radius: var(--radius-sm);
		right: 4px;
		top: -4px;

		&:hover {
			background-color: transparent;
			text-shadow: var(--shadow-glow);
		}
	}

	.popup-content {
		font-family: var(--font-family-ui);
		font-size: var(--text-sm);
		text-align: center;
	}

	.popup-title {
		font-weight: var(--font-weight-heavy);
	}

	.popup-details {
		color: var(--color-text-muted);
		font-size: var(--text-xs);
		line-height: var(--line-height-compact);

		& :is(data, time) {
			color: inherit;
			font-family: inherit;
		}
	}
}